{% import "../../global/page/mixins.njk" as mixins %}

<ul class="social-list">
	<li class="social-list__item">
		<a class="social-list__link" href="#">
			<svg class="social-list__icon" width="30" height="30">
				<use xlink:href="img/sprite-mono.svg#vk-icon"></use>
			</svg>
		</a>
	</li>
	<li class="social-list__item">
		<a class="social-list__link" href="#">
			<svg class="social-list__icon" width="30" height="30">
				<use xlink:href="img/sprite-mono.svg#fb-icon"></use>
			</svg>
		</a>
	</li>
	<li class="social-list__item">
		<a class="social-list__link" href="#">
			<svg class="social-list__icon" width="30" height="30">
				<use xlink:href="img/sprite-mono.svg#instagram-icon"></use>
			</svg>
		</a>
	</li>

</ul>
