.slider {
	position: relative;

	padding: 0 25px;

	@include media-tablet {
		padding: 0 50px;
	}
}

.slider__list {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider__item {
	display: flex;
	align-items: center;
	justify-content: center;

	width: auto;
	height: auto;

	&:not(:last-child) {
		margin-right: 49px;
	}

	@include media-tablet {
		margin-right: 65px;
	}
}

.slider__link {
	&:hover,
	&:focus {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}
}

.slider__button {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;

	cursor: pointer;

	border: none;
	background-color: transparent;

	&:hover svg,
	&:focus svg {
		fill: $dodger-blue;
	}

	&:active svg {
		fill: rgba($dodger-blue, 0.8);
	}
}

.slider__button-icon {
	fill: $nepal;
}

.slider__button--next {
	right: 0;

	.slider__button-icon {
		transform: rotate(180deg);
	}
}

.slider__button--prev {
	left: 0;
}

.slider__item-icon-wrapper {
	svg {
		fill: $white;
	}
}

.slider--vertical {
	padding: 50px 0;

	@include media-tablet {
		padding: 50px 0;
	}

	@media (min-width: 1100px) {
		padding: 0 20px;
	}

	.slider__button--next {
		top: auto;
		bottom: -10px;
		right: 0;
		left: 50%;
		transform: translate(-50%, -50%) rotate(90deg);

		@media (min-width: 1100px) {
			top: 0;
			bottom: 0;
			right: 0;
			left: auto;
			transform: rotate(0deg);		
		}
	}

	.slider__button--prev {
		top: 0;
		bottom: auto;
		right: 0;
		left: 50%;
		transform: translate(-50%, -50%) rotate(90deg);

		@media (min-width: 1100px) {
			top: 0;
			bottom: 0;
			right: auto;
			left: 0;
			transform: rotate(0deg);		
		}
	}

	.slider__item__item-text {
		color: $white;
		font-weight: 700;
		font-size: 16px;
		line-height: 103.5%;
	}

	.slider__item {
		display: flex;
		flex-direction: column;
	}

	.round-icon-wrapper  {
		margin-bottom: 10px;
	}

	.swiper-container {
		height: 377px;

		@media (min-width: 1100px) {
			height: auto;
			max-width: 492px;
		}

		.round-icon-wrapper {
			margin-right: 0;
		}

		.slider__item {
			margin-right: 0;

			&:not(:last-child) {
				margin-bottom: 40px;

				@media (min-width: 1100px) {
					margin-bottom: 0px;
					margin-right: 35px;
				}
			}
		}
	}
}
