.slider {
	position: relative;

	padding: 0 25px;

	@include media-tablet {
		padding: 0 50px;
	}
}

.slider__list {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider__item {
	display: flex;
	align-items: center;
	justify-content: center;

	width: auto;
	height: auto;

	&:not(:last-child) {
		margin-right: 49px;
	}

	@include media-tablet {
		margin-right: 65px;
	}
}

.slider__link {
	&:hover,
	&:focus {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}
}

.slider__button {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;

	cursor: pointer;

	border: none;
	background-color: transparent;

	&:hover svg,
	&:focus svg {
		fill: $dodger-blue;
	}

	&:active svg {
		fill: rgba($dodger-blue, 0.8);
	}
}

.slider__button-icon {
	fill: $nepal;
}

.slider__button--next {
	right: 0;

	.slider__button-icon {
		transform: rotate(180deg);
	}
}

.slider__button--prev {
	left: 0;
}
