{% import "../../global/page/mixins.njk" as mixins %}
{% import "../../blocks/round-icon-wrapper/round-icon-wrapper.njk" as iconWrapper %}

{% macro value(args) %}
	{% if args.type == "vertical" %}
		<div class="slider slider--vertical {{args.class}}">
	{% else %}
		<div class="slider {{args.class}}">
	{% endif %}
		<div class="swiper-container">
			<ul class="slider__list swiper-wrapper">
				{% for item in args.items %}
					<li class="slider__item swiper-slide">
						{% if item.type == "vector" %}
							{{iconWrapper.value(item.iconWrapper)}}
							<span class="slider__item__item-text">
								{{item.text}}
							</span>
						{% else %}
							<img src="img/{{item.src}}.webp" width="{{item.width}}" height="{{item.height}}" alt="Логотип банка">
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<button class="slider__button slider__button--next" aria-label="Прелистнуть вперед">
			<svg class="slider__button-icon" width="8" height="12">
				<use xlink:href="img/sprite-mono.svg#arrow-slider"></use>
			</svg>
		</button>
		<button class="slider__button slider__button--prev" aria-label="Перелестнуть назад">
			<svg class="slider__button-icon" width="8" height="12">
				<use xlink:href="img/sprite-mono.svg#arrow-slider"></use>
			</svg>
		</button>
	</div>
{% endmacro %}
