{% import "../../global/page/mixins.njk" as mixins %}

{% macro value(args) %}
	<div class="slider {{args.class}}">
		<div class=" swiper-container">
			<ul class="slider__list swiper-wrapper">
				{% for img in args.images %}
					<li class="slider__item swiper-slide">
						<a class="slider__link" href="#">
							<img src="img/{{img.src}}.webp" width="{{img.width}}" height="{{img.height}}" alt="Логотип банка">
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<button class="slider__button slider__button--next" aria-label="Прелистнуть вперед">
			<svg class="slider__button-icon" width="8" height="12">
				<use xlink:href="img/sprite-mono.svg#arrow-slider"></use>
			</svg>
		</button>
		<button class="slider__button slider__button--prev" aria-label="Перелестнуть назад">
			<svg class="slider__button-icon" width="8" height="12">
				<use xlink:href="img/sprite-mono.svg#arrow-slider"></use>
			</svg>
		</button>
	</div>
{% endmacro %}
