.e-wallet {
	overflow: hidden;

	padding: 85px 4%;
	padding-bottom: 0;

	background-color: $port-gore;
}

.e-wallet .container {
	@media (min-width: 832px) {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	@media (min-width: 1165px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.e-wallet__text-wrapper {
	@media (min-width: 1165px) {
		order: 2;
	}
}

.e-wallet__title {
	margin-bottom: 15px;

	@include media-tablet {
		margin-bottom: 20px;
	}
}

.e-wallet__text {
	max-width: 549px;
	margin-bottom: 60px;

	@include media-tablet {
		margin-bottom: 40px;
	}
}

.e-wallet__link {
	display: block;

	max-width: 388px;
	margin-bottom: 113px;

	@media (min-width: 1100px) {
		max-width: 209px;
	}
}

.e-wallet__img {
	position: relative;
	z-index: 2;

	display: flex;

	max-width: 372px;
	height: 281px;
	object-fit: cover;

	@media (min-width: 526px) {
		max-width: 526px;
		height: 425px;
	}
}

.e-wallet__img-wrapper {
	position: relative;

	&::before {
		position: absolute;
		bottom: -36px;
		left: 48px;

		display: block;

		width: 225.21px;
		height: 230.36px;

		content: "";

		border-radius: 50%;
		box-shadow: 0 26.1669px 43.6115px 65.4173px rgba($dodger-blue, 0.15);

		@media (min-width: 526px) {
			bottom: -39px;
			left: 39px;

			width: 282px;
			height: 282px;
		}
	}

	&::after {
		position: absolute;
		bottom: -190px;

		display: block;

		width: 380px;
		height: 380px;

		content: "";

		border-radius: 50%;
		background: $dodger-blue;

		@media (min-width: 526px) {
			bottom: -285px;

			width: 570px;
			height: 570px;
		}
	}
}

// width: 225.21px;
// height: 230.36px;
// left: 53.18px;
// top: 545.37px;

// background: rgba(41, 178, 255, 0.01);
// box-shadow: 0px 26.1669px 43.6115px 65.4173px rgba(41, 178, 255, 0.15);

// div::after {
//   display:block;
//   content: "";
//   position: absolute;
//   left: 8%;
//   bottom:-2px;
//   background: #fff;
//   height:calc(25% - 6px);
//   width: 84%;
//   border-top:2px gold solid
// }
