<form class="popup popup__overlay" id="popup-registration" data-close="true">
	<div class="popup__window">
		<button class="popup__close" type="button" aria-label="Закрыть" data-close="true">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-close="true">
				<path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"/>
			</svg>
		</button>
		<h3 class="popup__title">
			Регистрация
		</h3>
		<input class="popup__input popup__phone input input--grey" type="tel" name="tel" placeholder="Введите номер телефона">
		<input class="popup__input popup__passowrd input input--grey" type="password" name="password" placeholder="Введите пароль" value="">
		<a class="popup__terms-link popup__text" href="#">
			Политика конфиденциальности
		</a>
		<label class="popup__text popup__terms" for="terms">
			Я прнимаю условия
			<input class="popup__terms-checkbox" type="checkbox" name="terms" id="terms">
		</label>
		<button class="popup__button button button--blue" type="submit">
			Зарегистрироватья
		</button>
	</div>
</form>

<form class="popup" id="popup-login" data-close="true">
	<div class="popup__window">
		<button class="popup__close" type="button" aria-label="Закрыть" data-close="true">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-close="true">
				<path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"/>
			</svg>
		</button>
		<h3 class="popup__title">
			Войти
		</h3>
		<input class="popup__input popup__phone input input--grey" type="tel" name="tel" placeholder="Введите номер телефона">
		<input class="popup__input popup__passowrd input input--grey" type="password" name="password" placeholder="Введите пароль" value="">
		<input class="popup__input popup__code input input--grey" type="text" name="code" placeholder="Введите код сообщения из смс" value="">
		<button class="popup__button button button--blue" type="submit">
			Войти	
		</button>
	</div>
</form>
