.public-services {
	background-color: $port-gore;
}

.public-services .container {
	overflow-x: hidden;

	padding: 85px 4%;
	padding-right: 0;

	@media (min-width: 860px) {
		padding: 85px 4%;
	}

	@include media-desktop {
		display: flex;
		justify-content: space-between;

		padding-top: 100px;
		padding-bottom: 0;
	}
}

.public-services__title {
	margin-bottom: 10px;

	@include media-tablet {
		margin-bottom: 20px;
	}
}

.public-services__description {
	margin-bottom: 40px;
}

.public-services__wrapper {
	display: flex;
	justify-content: space-between;

	margin-bottom: 65px;

	@include media-desktop {
		flex-direction: column;

		margin-bottom: 0;
	}
}

.public-services__list {
	margin: 0;
	margin-right: 37px;
	padding: 0;

	list-style: none;

	@include media-desktop {
		display: flex;
		justify-content: space-between;

		margin-right: 0;
	}
}

.public-services__item {
	display: flex;
	align-items: center;
	flex-direction: column;

	&:not(:last-child) {
		margin-bottom: 50px;
	}
}

.public-services__icon-wrapper {
	margin-bottom: 10px;
}

.public-services__item-text {
	color: $white;

	font-size: 16px;
	font-weight: 700;
	line-height: 103.5%;
}

.public-services__img {
	overflow-x: hidden;

	height: 432px;

	background-position: center;
	object-fit: cover;
	object-position: left;

	@media (min-width: 1200px) {
		width: 642px;
		height: 232px;
	}
}

.public-services__link-mobile {
	display: block;

	max-width: 388px;
	margin-right: 4%;

	@include media-desktop {
		display: none;
	}
}

.public-services__link-desktop {
	display: none;

	@include media-desktop {
		display: block;

		max-width: 209px;
	}
}
