
            .public-services {
              display: flex;

              @include media-tablet {
              }

              @include media-desktop {
              }
            }

            .public-services__title {
              margin: 0;
              font-size: $fs-18;
              line-height: $lh-26;
              font-weight: 700;

              @include media-tablet {
                margin: 0;
              }

              @include media-desktop {
                margin: 0;
              }
            }

            .public-services__text {
              margin: 0;
              font-size: $fs-16;
              line-height: $lh-26;
              font-weight: 400;

              @include media-tablet {
                margin: 0;
              }

              @include media-desktop {
                margin: 0;
              }
            }
          
