{% import "../../global/page/mixins.njk" as mixins %}

<nav class="navigation">
	<ul class="navigation__list">
		<li class="navigation__item">
			<a href="index.html" class="navigation__link navigation__link--active" value="index-page">Главная</a>
		</li>
		<li class="navigation__item">
			<a href="transfers.html" class="navigation__link" value="transfers-page">Переводы</a>
		</li>
		<li class="navigation__item">
			<a href="payment.html" class="navigation__link" value="payment-page">Оплата</a>
		</li>
		<li class="navigation__item">
			<a href="" class="navigation__link">Помощь</a>
		</li>
	</ul>
	{% include "blocks/social-list/social-list.njk" %}
	<a href="#" class="navigation__privacy-policy">
		Политика<br>
		конфиденциальности
	</a>
</nav>
