.round-icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 72px;
	height: 72px;
	margin-right: 12px;

	border-radius: 50%;
	background-color: rgba(41, 178, 255, 0.1);
}

.round-icon-wrapper-icon {
	fill: $white;
}

.round-icon-wrapper--blue {
	background-color: $dodger-blue;
	box-shadow: 0 0 50px rgba($gray, 0.1);
}
