{% extends "global/page/layout.njk" %}
{% set metaDescription = "Оплата" %}
{% set title = "Оплата" %}
{% set currentPage = "payment-page" %}

{% block content %}
	<main class="main">
		{% include "blocks/payment/payment.njk" %}
		{% include "blocks/online-sales/online-sales.njk" %}
	</main>
{% endblock %}
