{% extends "global/page/layout.njk" %}
{% set metaDescription = "Главная страница" %}
{% set title = "Главная страница Sedona" %}
{% set currentPage = "index.html" %}
{% set classPage = "index-page" %}

{% block content %}
	<main class="main">
		{% include "blocks/intro/intro.njk" %}
		{% include "blocks/transfers-to-card/transfers-to-card.njk" %}
		{% include "blocks/e-wallet/e-wallet.njk" %}
		{% include "blocks/payment-mobile/payment-mobile.njk" %}
		{% include "blocks/public-services/public-services.njk" %}
		{% include "blocks/payment-loans/payment-loans.njk" %}
		{% include "blocks/popular-categories/popular-categories.njk" %}
		{% include "blocks/functions-pay-way/functions-pay-way.njk" %}
{% include "blocks/download-our-app/download-our-app.njk" %}
	</main>
{% endblock %}
