.intro {
	background-color: $port-gore;

	@media (min-width: 1051px) {
		padding-bottom: 41px;
	}
}

.intro .container {
	padding: 85px 4%;
	display: flex;
	flex-direction: column;

	@include media-tablet {
		flex-direction: row;
		padding-top: 5px;
		padding-bottom: 0px;
		justify-content: space-between;
		align-items: center;
	}
	@include media-desktop {
		align-items: flex-start;
	}
}

.intro__content-wrapper {
	margin-bottom: 78px;
	@include media-tablet {
		max-width: 570px;
		padding-top: 56px;
	}
}

.intro__title {
	margin: 0;
	margin-bottom: 20px;

	color: $white;

	font-size: 40px;
	font-weight: 900;
	font-style: normal;
	line-height: 103.5%;

	@include media-tablet {
		font-size: 60px;
		line-height: 103.5%;
	}
}

.intro__title-blue {
	display: block;

	color: $dodger-blue;
}

.intro__text {
	margin: 0;
	margin-bottom: 45px;

	color: rgba($white, 0.9);

	font-size: 15px;
	font-weight: 500;
	line-height: 160%;

	@include media-tablet {
		max-width: 518px;
		font-size: 16px;
		line-height: 140%;
	}
}

.intro__text-bold {
	font-weight: 700;
}

.intro__registratin {
	position: relative;
	@include media-tablet {
		display: flex;
		max-width: 434px;
		margin-bottom: 50px;
	}
}

.intro__phone,
.intro__button {
	width: 100%;
}

.intro__phone {
	margin-bottom: 20px;

	@include media-tablet {
		margin-bottom: 0;
	}
}

.intro__button {
	@include media-tablet {
		width: auto;
		position: absolute;
		right: 0;
		padding: 13px 30px;
	}
}

.intro__phone::placeholder {
	color: $gallery;
}

.intro__img-title {
	margin: 0;
	color: $white;
	margin-bottom: 20px;

	font-size: 26px;
	font-weight: 700;
	line-height: 103.5%;

	@include media-tablet {
		display: none;
	}
}

.intro__img {
	display: flex;
	max-width: 538px;
	height: auto;
	margin: 0 auto;

	@include media-tablet {
		max-width: 438px;
		height: auto;
	}

	@include media-desktop {
		max-width: 538px;
		height: 517px;
	}
}

.intro__markets {
	display: flex;
	margin: 0 auto;
	max-width: 363px;
	justify-content: space-between;
}

.intro__market-link {
	display: flex;
	color: $white;

	&:hover .intro__markets-icon,
	&:hover,
	&:focus .intro__markets-icon,
	&:focus {
		color: $dodger-blue;
		fill: $dodger-blue;
	}

	&:active .intro__markets-icon,
	&:active {
		opacity: 0.8;
	}
}

.intro__market-link-text {
	display: flex;
	flex-direction: column;
}

.intro__markets-icon {
	fill: $white;
	margin-right: 10px;
}

.intro__markets-text-bold {
	font-weight: 800;
	font-size: 18px;
	line-height: 112.4%;
}

.intro__markets-text {
	font-weight: 500;
	font-size: 13px;
	line-height: 112.4%;
}

.intro__markets--mobile {
	@include media-tablet {
		display: none;
	}
}

.intro__markets--tablet {
	display: none;
	@include media-tablet {
		display: flex;
		max-width: 373px;
		justify-content: space-between;
		margin: 0;
	}
}

.intro__functions {
	display: none;
	@media (min-width: 1051px) {
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding: 0 4%;
		margin: 0 auto;
	}
}

.intro__function {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.intro__function-ico-wrapper {
	display: flex;
	width: 72px;
	height: 72px;
	margin-right: 12px;
	justify-content: center;
	align-items: center;
	background-color: rgba($dodger-blue, 0.1);
	border-radius: 50%;
}

.intro__function-icon {
	fill: $white;
}

.intro__function-title {
	margin: 0;
	margin-bottom: 7px;
	font-weight: 700;
	font-size: 18px;
	line-height: 103.5%;
	color: $white;
}
.intro__function-description {
	margin: 0;
	font-size: 15px;
	line-height: 103.5%;

	color: rgba($white, 0.8);
}
