{% import "../../global/page/mixins.njk" as mixins %}
{% import "../../blocks/round-icon-wrapper/round-icon-wrapper.njk" as iconWrapper %}

</h3>
{%
	set functionItems = [
		{
			icon: {
				width: 33,
				height: 33,
				svgName: "electronic-transfers"
			},
			title: "Электронный кошелёк",
			text: "Lorem ipsum dolor sit amet"
		},
		{
			icon: {
				width: 33,
				height: 33,
				svgName: "money-transfers"
			},
			title: "Денежные переводы",
			text: "Lorem ipsum dolor sit amet"
		},
		{
			icon: {
				width: 33,
				height: 33,
				svgName: "payment"
			},
			title: "Оплата товаров и услуг",
			text: "Lorem ipsum dolor sit amet"
		}
	]
%}

<section class="intro">
	<div class="container">
		<div class="intro__content-wrapper">
			<h1 class="intro__title">
				<span class="intro__title-blue">Бизнес-счёт </span>
			у вас в кармане
		</h1>
			<p class="intro__text">
				<b class="intro__text-bold">Управляйте своими финансами легко!</b> Онлайн-платежи в популярных валютах, включая USD и EUR, переводы SWIFT и SEPA, онлайн-конвертация. Индивидуальный IBAN, платежная карта Mastercard — теперь все в одном месте.
			</p>
			<div class="intro__registratin">
				<input class="intro__phone input" type="tel" name="intro-registration" placeholder="+7 ___-___-__-__">
				<button class="intro__button button button--white" type="submit">Регистрация</button>
			</div>
			<div class="intro__markets intro__markets--tablet">
				<a href="#" class="intro__market-link">
					<svg class="intro__markets-icon" width="28" height="33">
						<use xlink:href="img/sprite-mono.svg#apple-store-icon"></use>
					</svg>
					<div class="intro__market-link-text">
						<span class="intro__markets-text">Скачать в</span>
						<b class="intro__markets-text-bold">App Store</b>
					</div>
				</a>
				<a href="#" class="intro__market-link">
					<svg class="intro__markets-icon" width="28" height="33">
						<use xlink:href="img/sprite-mono.svg#google-play-icon"></use>
					</svg>
					<div class="intro__market-link-text">
						<span class="intro__markets-text">Скачать в</span>
						<b class="intro__markets-text-bold">Google Play</b>
					</div>
				</a>
			</div>
		</div>
		<div class="intro__img-wrapper">
			<h2 class="intro__img-title">
			Наше приложение
		</h2>
			<picture>
				<source
						media="(min-width: 0)"
						srcset="img/our_app.webp 1x,
										img/our_app@2x.webp 2x">
				<img
						class="intro__img"
						src="img/our_app.png"
						srcset="img/our_app.png 1x,
									img/our_app.png@2x.png 2x"
						alt="Нашпе приложение"
						width="401"
						height="485">
			</picture>
			<div class="intro__markets intro__markets--mobile">
				<a href="#"  class="intro__market-link">
					<svg class="intro__markets-icon" width="28" height="33">
						<use xlink:href="img/sprite-mono.svg#apple-store-icon"></use>
					</svg>
					<div class="intro__market-link-text">
						<span class="intro__markets-text">Скачать в</span>
						<b class="intro__markets-text-bold">App Store</b>
					</div>
				</a>
				<a href="#"  class="intro__market-link">
					<svg class="intro__markets-icon" width="28" height="33">
						<use xlink:href="img/sprite-mono.svg#google-play-icon"></use>
					</svg>
					<div class="intro__market-link-text">
						<span class="intro__markets-text">Скачать в</span>
						<b class="intro__markets-text-bold">Google Play</b>
					</div>
				</a>
			</div>
		</div>
	</div>
	<ul class="intro__functions">
		{% for item in functionItems %}
			<li class="intro__function">
				{{iconWrapper.value(item.icon)}}
				<div class="intro__function-text-wrapper">
					<h3 class="intro__function-title">{{item.title}}</h3>
					<p class="intro__function-description">{{item.text}}</p>
				</div>
			</li>
		{% endfor %}
	</ul>
</section>

