{% import "../../global/page/mixins.njk" as mixins %}

{%
	set data = {
		class: "payment",
		title: {
			class: "payment__title",
			text: "title block"
		},
		text: {
			class: "payment__text",
			text: "text block"
		}
	}
%}

<section class="{{ data.class }}">
	<h2 class="visually-hidden"></h2>
	<h2 class="{{ data.title.class }}">
		{{ data.title.text }}
	</h2>
	<p class="{{ data.text.class }}">
		{{ data.text.text }}
	</p>
</section>
