@import "../../../node_modules/normalize.css/normalize";
@import "variables";
@import "mixins.scss";
@import "../../blocks/header/header.scss";
@import "../../blocks/footer/footer.scss";

@include font-face("Montserrat", "../fonts/montserrat", 400, "normal");
@include font-face("Montserrat", "../fonts/montserrat", 500, "normal");
@include font-face("Montserrat", "../fonts/montserrat", 600, "normal");
@include font-face("Montserrat", "../fonts/montserrat", 700, "normal");
@include font-face("Montserrat", "../fonts/montserrat", 800, "normal");
@include font-face("Montserrat", "../fonts/montserrat", 900, "normal");

body {
	min-width: 320px;

	color: $cod-gray;

	background-color: $white-2;

	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 140%;

	mix-blend-mode: normal;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

picture {
	display: block;

	line-height: 0;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.section-text {
	margin: 0;

	color: $white;

	font-size: 15px;
	font-weight: 500;
	line-height: 140%;

	@include media-tablet {
		font-size: 16px;
	}
}

.section-text--bold {
	color: rgba($white, 0.9);

	font-weight: 700;
}

.section-text--grey {
	color: $tundora;
	font-weight: 400;
}

.section-title {
	margin: 0;

	color: $port-gore;

	font-size: 36px;
	font-weight: 700;
	line-height: 103.5%;

	@include media-tablet {
		font-size: 46px;
	}
}

.section-title--gray {
	color: $tundora;
}

.section-title--white {
	color: $white;
}

.input {
	box-sizing: border-box;
	padding: 12px 30px;

	color: $gallery;
	border: 1px solid $gallery;
	border-radius: 15px;
	background-color: transparent;

	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;

	&:focus {
		border: solid 1px $dodger-blue;
	}

	&:invalid {
		border: solid 1px $red;
	}

	&::placeholder {
		color: $gallery;
	}
}

.input--grey {
	color: $amethyst-smoke;
	border: 1px solid rgba($nepal, 0.5);

	&::placeholder {
		color: $amethyst-smoke;
	}
}

.button {
	box-sizing: border-box;
	padding: 12px 30px;

	cursor: pointer;
	text-align: center;

	color: $white;
	border: 0;

	border: 2px solid $white;
	border-radius: 15px;

	font-family: "Montserrat";
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	line-height: 18px;

	&:focus,
	&:hover {
		color: $port-gore;
		background-color: $white;
	}

	&:active {
		background-color: $seashell;
	}

	&:disabled {
		background: rgba($amethyst-smoke, 0.45);
	}
}

.button--white {
	color: $haiti;

	background-color: $white;

	&:focus,
	&:hover {
		border-color: transparent;
		background-color: $mischka;
	}

	&:active {
		background-color: $onahau;
	}

	&:disabled {
		background: rgba($amethyst-smoke, 0.45);
	}
}

.button--blue {
	color: $white;
	border-color: $dodger-blue;

	background-color: $dodger-blue;

	&:focus,
	&:hover {
		color: $white;
		border-color: $cerulean;
		background-color: $cerulean;
	}

	&:active {
		border-color: $malibu;
		background-color: $malibu;
	}
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	overflow: hidden;
	clip: rect(0 0 0 0);

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;

	border: 0;

	clip-path: inset(100%);
}

/*
swiper.js
*/
.swiper-container {
	position: relative;
	z-index: 1;

	overflow: hidden;
}

.swiper-container-vertical > .swiper-wrapper {
	flex-direction: column;
}

.swiper-wrapper {
	position: relative;
	z-index: 1;

	display: flex;

	box-sizing: content-box;
	width: 100%;
	height: 100%;

	transition-property: transform;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
	flex-direction: column;
	flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
	margin: 0 auto;

	transition-timing-function: ease-out;
}

.swiper-container-pointer-events {
	touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
	touch-action: pan-x;
}

.swiper-slide {
	position: relative;

	flex-shrink: 0;

	width: 100%;
	height: 100%;

	transition-property: transform;
}

.swiper-slide-invisible-blank {
	visibility: hidden;
}

/*
end swiper.js
*/
