//colors
$cod-gray: #1c1c1c;
$white: #fff;
$white-2: #fdfdfd;
$port-gore: #272361;
$cerulean: #0092e3;
$dodger-blue: #29b2ff;
$malibu: #51c0ff;
$amethyst-smoke: #9391b1;
$seashell: #f1f1f1;
$haiti: #0d0a2a;
$black: #000;
$onahau: #bfe8ff;
$gallery: #eee;
$mischka: #d4d3df;
$red: #f00;
$nepal: #8d9fbb;
$port-gore: #282361;
$tundora: #4b4b4b;

$fw-700: 700;
$fw-600: 400;
$fw-500: 400;
$fw-400: 400;

$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px; //global
$fs-20: 20px;
$fs-21: 20px;
$fs-30: 30px;
$fs-36: 36px;
$fs-60: 60px;

$lh-14: 14px;
$lh-16: 16px;
$lh-20: 20px;
$lh-21: 21px;
$lh-24: 24px;
$lh-26: 26px; //global
$lh-36: 36px; //global
$lh-40: 40px;
$lh-60: 60px;
